html {
  background-color: lightblue;
  color: white;
}

#contact {
  text-align: right;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 46px;
  margin: 32px;
  margin-right: 54px;

}

#contact a {
  text-decoration: none;
  color: white;
}

#email, #phone {
  margin-right: 16px;
}

.icon {
  font-size: 24px;
  position: relative;
  top: 3px;
}

h1 {
  display : none;
}

#title img {
  height: 71px;
  width: 240px;
  margin-left: 50%;
  transform: translate(-50%);
  display: inline-block;
}

h2 {
  font-size: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 66px;
  margin-top: 50px;
  margin-bottom: 30px;
  margin-left: 50%;
  transform: translate(-50%);
  display : inline-block;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 15.4px;
  margin-bottom: 50px;
}

#demobutton {
  padding-bottom: 12px;
  padding-right: 35px;
  padding-top: 12px;
  padding-left: 35px;
  text-align: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  line-height: 25.7143px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  background-color: rgb(81,112,221);
  display: inline-block;
  margin-left: 50%;
  transform: translate(-50%);
  text-decoration: none;
}

a:hover, a:link, a:visited,s a:active {
  text-decoration: none;
  color: white;
}
