html {
  background-color: lightblue;
  color: white;
  z-index: 1;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-image: url("https://www.bankjoy.com/assets/images/backgrounds/background.jpg");
  background-size: cover;
  background-position: top;
}

#headerbackground {
  height: 100vh;
  width: 100%;
  background-color: rgb(58 ,72 ,105);
  opacity: .85;
  position: absolute;
}

#contact {
  text-align: right;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 46px;
  margin: 32px;
  margin-right: 54px;
  margin-top: 0px;
  z-index: 1;
  top: 30px;
  position: relative;
}

#contact a {
  text-decoration: none;
  color: white;
}

#email, #phone {
  margin-right: 16px;
  z-index: 1;
  color: white;
}

.icon {
  font-size: 24px;
  position: relative;
  top: 3px;
}

#container {
  position: relative;
  height: 700px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

h1 {
  display : none;
}

#title img {
  height: 71px;
  width: 240px;
  margin-left: 50%;
  transform: translate(-50%);
  display: inline-block;
  z-index: 1;
}

h2 {
  font-size: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 66px;
  text-align: center;
  display : block;
  z-index: 1;
}

h3 {
  text-align: center;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 15.4px;
  margin-bottom: 50px;
  z-index: 1;
}

#demobutton {
  padding-bottom: 12px;
  padding-right: 35px;
  padding-top: 12px;
  padding-left: 35px;
  text-align: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: normal;
  line-height: 25.7143px;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  border-color: black;
  background-color: rgb(81,112,221);
  display: inline-block;
  margin-left: 50%;
  margin-top: 0px;
  margin-bottom: 80px;
  transform: translate(-50%);
  text-decoration: none;
}

a:hover, a:link, a:visited,s a:active {
  text-decoration: none;
  color: white;
}

#phonescontainer {
  position: relative;
  height: 700px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#leftphone {
  height: 631.734px;
  width: 310px;
  position: absolute;
  right: 58.5%;
  top: 50px;
  margin: auto;

}

#centerphone {
  height: 672px;
  width: 330px;
  position: absolute;
  z-index: 3;
  margin: auto;
  right: 50%;
  transform: translate(50%);
}

#rightphone {
  height: 631.734px;
  width: 310px;
  position: absolute;
  left: 58.75%;
  top: 50px;
  margin: auto;
}
