html {
  background-color: white;
  color: white;
  z-index: 1;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0px;
  background-image: url("https://www.bankjoy.com/assets/images/backgrounds/background.jpg");
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  font-weight: 300;
}

#overlay {
  height: 100vh;
  width: 100%;
  background-color: rgb(62,71,100);
  opacity: .85;
  position: absolute;
}

#contact {
  text-align: right;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 46px;
  margin: 32px;
  margin-right: 54px;
  margin-top: 0px;
  z-index: 1;
  top: 30px;
  position: relative;
}

#contact a {
  text-decoration: none;
  color: white;
}

#contact a:hover{
  color: #428bca;
}

#email, #phone {
  margin-right: 36px;
  z-index: 1;
  color: white;
  font-weight: 600;
}

#icon-phone {
  position: relative;
  top: 2px;
}

#icon-phone:before{
    content: "\f095";
    font-size: 17px;
    line-height: 17px;
    font-family: icomoon;
    font-weight: normal;
    margin-right: 4px;
}

#icon-email {
  position: relative;
  top: 2px;
}

#icon-email:before{
    content: "\e002";
    font-size: 17px;
    line-height: 1px;
    font-family: icomoon;
    font-weight: normal;
    margin-right: 4px;
}

#container {
  position: relative;
  height: 700px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  opacity: 1;
}

h1 {
  display : none;
}

#title img {
  height: 71px;
  width: 240px;
  margin-left: 50%;
  transform: translate(-50%);
  display: inline-block;
  z-index: 1;
}

h2 {
  font-size: 60px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 66px;
  text-align: center;
  display : block;
}

h3 {
  opacity: .5;
  text-align: center;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 200;
  line-height: 15.4px;
  margin-bottom: 50px;
}

#demobutton {
  width: 129.859px;
  padding-bottom: 12px;
  padding-right: 35px;
  padding-top: 12px;
  padding-left: 35px;
  text-align: center;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 25.7143px;
  border-radius: 50px;
  background-color: rgb(81,112,221);
  display: block;
  margin-top: 10px;
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
}

a:hover, a:link, a:visited, a:active {
  text-decoration: none;
  color: white;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

#demobutton:hover {
  animation-duration: .3s;
  animation-name: pulse;
}

#phonescontainer {
  position: relative;
  height: 700px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

#leftphone {
  height: 631.734px;
  width: 310px;
  position: absolute;
  right: 58.5%;
  top: 50px;
  margin: auto;

}

#shadow {
  top: 50px;
  height: 575px;
  width: 326px;
  position: absolute;
  z-index: 2;
  margin: auto;
  right: 50%;
  transform: translate(50%);
  box-shadow: 50px 0px 100px rgba(0,0,0,.45),
  -50px 0px 100px rgba(0,0,0,.45);
}

#centerphone {
  height: 672px;
  width: 330px;
  position: absolute;
  z-index: 3;
  margin: auto;
  right: 50%;
  transform: translate(50%);
}

#rightphone {
  height: 631.734px;
  width: 310px;
  position: absolute;
  left: 58.75%;
  top: 50px;
  margin: auto;
}

#empty {
  height: 100vh;

}
